<% layout('layouts/boilerplate') -%>
    <h1>
        <%=post.title%>
    </h1>

    <h3>
        <%=post.content %>
    </h3>

    <h5>Author---<%=post.author %>
    </h5>

    <h3 id="displayLike">
        <%= post.likes.length %>
    </h3> <button id="likeButton">Like</button>

    <button id="saveButton">
        <%= saveButtonText %>
    </button>

    <button id="followButton">
        <%= followButtonText %>
    </button>

    <h1>comments</h1>
    <input type="text" id="commentInput">
    <button id="commentSubmit">Submit</button>
    <ul id="commentsList">
        <% for(let comment of comments) { %>
            <li>
                <%= comment.comment %>--by <%= comment.user.name %>
                        <button class="deleteCommentButton" data-comment-id=<%=comment._id%>
                            >Delete</button>

            </li>
            <% } %>
    </ul>
    <script>
        const postId = '<%=post._id%>';
        const owner = '<%=post.owner%>'
    </script>
    <script src="/scripts/addComments.js"></script>
    <script src="/scripts/deleteComments.js"></script>
    <script src="/scripts/likes.js"></script>
    <script src="/scripts/saved.js"></script>
    <script src="/scripts/follow.js"></script>